.formWrapper {
  margin: 2rem 0 5rem 0;
  padding: 2.5rem;
  background-color: rgb(242, 244, 250);
  border-radius: 15px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .input {
    align-self: center;
    width: 100%;
  }

  .button {
    margin-top: 1rem;
    align-self: flex-end;
    width: 10rem;
  }
}

@media (prefers-color-scheme: dark) {
  .formWrapper {
    background-color: rgb(29, 29, 29);
  }
}
