.cardGrid {
  display: grid;
  gap: 3rem;
  padding: 0;
  width: 100%;
}

.skeleton {
  flex: 1;
  transform-origin: '0 65%';
}

.skeletonRect {
  background-color: rgb(222, 222, 222) !important;
}

@media (min-width: 900px) {
  .cardGrid {
    padding: 0 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  .skeletonRect {
    background-color: rgb(55, 55, 55) !important;
  }
}
